body {
  font-family: Arial, sans-serif;
  background-color: #f9f9fc;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 1em 0;
  text-align: center;
}

header nav {
  margin-top: 10px;
}

header nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
}


section {
  background: white;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #4caf50;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #388e3c;
}

textarea,
input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.chart-image,
.stats-image {
  display: block;
  max-width: 60%;
  height: auto;
  margin: 10px 0;
}

.reviews-list ul {
  list-style: none;
  padding: 0;
}

.reviews-list li {
  background: #f1f8e9;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #c5e1a5;
  border-radius: 4px;
}

footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 1em 0;
}
